@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes Bear_1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@keyframes Bear_1_seed {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes Glidewing {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes Cloud {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(60px);
    }
}

@keyframes down_Arrow {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(2px);
        opacity: 0.4;
    }
}

@keyframes Bear_2_Wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes Bear_2_shadow {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes down_Earth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.2s both;
    animation: bounce-in-top 1.2s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes blur {
    0% {
        background-color: #fff;
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes earth_bear {
    0% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes earth_bear_left_ear {
    0% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }

    70% {
        transform: rotate(20deg) translateX(-1px)translateY(-7px);
    }

    80% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }

    100% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }
}

@keyframes earth_bear_right_ear {
    0% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }

    70% {
        transform: rotate(-5deg) translateX(1px)translateY(-7px);
    }

    80% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }

    100% {
        transform: rotate(0deg) translateX(0px)translateY(0px);
    }
}

@keyframes Earth_ball {
    0% {
        transform: translateY(0px) rotate(0deg);
        transform-origin: center;
    }

    70% {
        transform: translateY(-40px)rotate(160deg);
    }

    100% {
        transform: translateY(0px);
    }
}

.rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
@keyframes img_scale{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}